<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
        
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                    	<p th:text="${msg}" style="color:red"></p>
                    	<form th:action="@{/user/ubahPassword}" method="post">
                    	<input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="username" />
                    		<div class="row form-group">
                    			<label class="col-sm-4">Password Lama:</label>
                    			<input class="col-sm-8 form-control input-sm" id="oldpass" type="password" name="oldpassword"/>
                    		</div>
                    		<div class="row form-group">
                    			<label class="col-sm-4">Password Baru:</label>
                    			<input class="col-sm-8 form-control input-sm" id="pass" type="password" name="password"/>
                    		</div>
                    		<div class="row form-group">
                    			<label class="col-sm-4">Konfirmasi Password Baru:</label>
                    			<input class="col-sm-8 form-control input-sm" id="passConfirm" name="passwordConfirm" type="password"/>
                    			<a th:text="${msg2}" style="color:red;padding-left:12.5rem"></a>
                    		</div>
                    		
                    		<span id="error" style="display:none">Password mismatch</span>
                    		<div>
                    			<button type="submit" class="btn btn-primary" onclick="savePass()">Simpan</button>
                    		</div>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>


<script th:inline="javascript">
	var serverContext = [[@{/}]];
	function savePass(){
	    var pass = $("#pass").val();
	    var valid = pass == $("#passConfirm").val();
	    if(!valid) {
	      $("#error").show();
	      alert("YE");
	      return;
	    }<!-- 
	    $.post(serverContext + "user/ubahPassword",
	      {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
	        window.location.href = serverContext +"/home.html?message="+data.message;
	    })
	    .fail(function(data) {
	        $("#errormsg").show().html(data.responseJSON.message);
	    }); -->
	}
</script>

</html>